---
layout: default
---

.post
  %h1.title
    %a{:href=>page.url}= page.title
  .byline
    .author
      = page.author
    .date
      = format_date( page.date )
    - if page.tags
      .tags
        - page.tags.each do |tag|
          %a{:href=>tag.primary_page.url}<
            = tag
  .body
    ~ content
  .comments
    = page.disqus_comments